body, html {
    background-color: #5e0c79;
    color: #FFF;
    font-family: Gotham, Arial, Helvetica, Sans-Serif;
    padding: 0px;
    margin: 0px;
}

div {
    margin: 10px;
    text-align: center;
}

form {
    margin: 10px;
    text-align: center;
}

button {
    background-color: #c100bb;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 10px;
    text-transform: uppercase;
    margin: 10px;
    border: 1px solid #61005e;
}

input {
    border: 3px solid #c100bb;
    margin: 10px;
    height:40px;
    font-size: 40px;
    padding: 8px;
    font-family: Gotham;
    font-weight: 500;
    color: #c100bb;
}

input.add-giphy-button {
    margin: 10px;
    height: 40px;
    font-size: 20px;
    background-color: #26e6ba;
    padding: 7px 30px 8px 30px;
    border: 2px solid #13a07f;
    color: #5e0c79;
}

img {
    margin: 10px;
    max-height: 180px;
    max-width: 220px;
    border: 5px solid #26e6ba;
}

h1.part1 {
    color: #26e6ba;
    float: left;
    font-size: 2em;
    font-size: 36px;
    font-weight: 900;
}

h1.part2 {
    color: #ff00f7;
    float: left;
    font-size: 36px;
    font-weight: 900;
}

.header {
    height: 65px;
    margin-top:10px;
    margin-left:40px;
}
.container {
    margin:10px;
}

#giphy-view {
    background-color: #000;
    width:100%;
    margin:10px;
    margin-bottom: 300px;
}

#footer {
    position: fixed;
    background-color: #13a07f;
    bottom: 0px;
    margin: 0px;
    padding: 6px;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 9px;
    color: #26e6ba;
}
